.ml_env/

Project 1 - Plant Pathology/kaggle/
Project 1 - Plant Pathology/.kaggle/
kaggle/train_images/

Project 2 - Harmful Brain Activity/data/hms-harmful-brain-activity-classification.zip
Project 2 - Harmful Brain Activity/data/train_eegs
Project 2 - Harmful Brain Activity/data/train_spectrograms

Project 3- Monet/data/gan-getting-started.zip